.tools-component {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 4px;
  height: 400px;
  margin: 60px 0 0 2px;
}
.tools-component-button {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  font-size: 25px;
  background-color: #444;
  color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
}
.tools-component-input {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 41px;
  cursor: pointer;
}
.tools-component-palette {
  color: #000;
}
.palette {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-size {
  display: flex;
  justify-content: space-around;
  width: 98px;
  margin-top: 27px;
}
.tools-size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #fff;
  position: relative;
  left: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.tools-size-mini,
.tools-size-normal,
.tools-size-big,
.tools-size-huge {
  background-color: #000;
}
.tools-size-mini {
  width: 7px;
  height: 7px;
}
.tools-size-normal {
  width: 10px;
  height: 10px;
}
.tools-size-big {
  width: 13px;
  height: 13px;
}
.tools-size-huge {
  width: 16px;
  height: 16px;
}
.active-size,
.active-tool {
  border: 3px solid #fae607;
}
.mirror {
  font-size: 35px;
}
.circle,
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-square,
.inner-circle {
  width: 18px;
  height: 18px;
  border: 4px solid #ccc;
}
.inner-circle {
  border-radius: 50%;
}
.inner-pen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}
.tools-component-pen {
  transform: rotate(-15deg);
  position: relative;
  top: 5px;
}
.inner-line {
  width: 30px;
  height: 15px;
  border-bottom: 2px solid #ccc;
  transform: rotate(-20deg);
  position: relative;
  bottom: 10px;
}
.chess-board-button,
.all-pixels-same-color {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools-chess-board {
  width: 30px;
  height: 30px;
  background-image: url('../../img/chessboard.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.move-tool,
.lighten-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.lighten-tool-plus,
.lighten-tool-minus {
  font-size: 15px;
  margin-bottom: 8px;
}
.same-color-filldrip {
  font-size: 15px;
}
