body {
  background-color: #1d1d1d;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
}
.task-title {
  font-size: 40px;
  font-weight: bolder;
  color: #fae607;
}

.copy-tool-new,
.delete-tool-new {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
}
.copy-tool-new {
  background-image: url('./img/copy.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.delete-tool-new {
  background-image: url('./img/trash.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.copy-tool-new {
  left: 5%;
  top: 75%;
}
.delete-tool-new {
  left: 76%;
  top: 75%;
}
